			<div class="abs" id="bar_top">
				<span class="float_right" id="clock"></span>
				<ul>
{% if bar_top is defined %}
{% for key, li in bar_top %}

					<li>
						<a class="menu_trigger" href="{{ li.href }}">{{ li.text }}</a>
{% if attribute(li, 'ul') is defined and li.ul|length > 0%}
						<ul class="menu">
{% for key, li2 in li.ul %}
							<li>
								<a href="{{ li2.href }}">{{ li2.text }}</a>
							</li>
{% endfor %}
						</ul>
{% endif %}
						
					</li>
{% endfor %}
{% endif %}
			</div>