{% block float_left %}
							<span class="float_left">
{% if attribute(float_left, 'src') is defined %}
								<img src="{{ asset(float_left.src) }}" />
{% endif %}
								{{ float_left.text|raw }}
							</span>
{% endblock %}